.header__bottom {
    height: 50px;
    display: flex;
    justify-content: center;
}

.tag__management {
    width: 240px;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
}

.tabs__container {
    width: 720px;
}

/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 1540px) {
}

@media screen and (max-width: 992px) {

    /* 右侧的标签管理按钮 */
    .tag__management {
        display: none;
    }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 350px) {


}