.home__container {

}
/*=============== Header ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header__top {
    height: 60px;
    background-color: #fff;
    color: #909090;
}

.header__container {
    margin: 0 auto;
    width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*=============== Navigation ===============*/
.header__navigation {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.header__navlist {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.header__navkey {
    height: 100%;
}
.header__navlink {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    color: #515767;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
    font-family: -apple-system,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial!important;
}

.header__banner {
    height: 100%;
    width: 139px;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 107px;
    height: 22px;
}

.header__bottom {
    height: 46px;
    background-color: #fff;
    color: #000;
}
/*=============== MAIN ===============*/
.main {
    margin: 100px auto 0;
    max-width: 1140px;
    display: grid;
    grid-template-columns: 820px 300px;
    grid-column-gap: 20px;
}


/*.collapsed {*/
/*.header__top {*/
/*    height: 0;*/
/*    overflow: hidden;*/
/*}*/
/*}*/

.collapsed {

    height: 0;
    overflow: hidden;
}

.main__left {
    padding: 16px;
}

.main__right {
    padding: 16px;
    background-color: #f2f2f2;
}

.author__info,
.related__articles,
.table__of__contents {
    padding: 8px;
    margin-bottom: 16px;
}

/*=============== BREAKPOINTS ===============*/
@media (max-width: 1000px) {
    .main {
        grid-template-columns: 1fr;
    }
    .main__right {
        display: none;
    }
}
